<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775763766826-st83dsn9npb5i4r74g4i930ceii7flq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775763766826-st83dsn9npb5i4r74g4i930ceii7flq5</string>
	<key>API_KEY</key>
	<string>AIzaSyB6qgMvp1J7ic6_Ueoq65FLJGNqDXABCrE</string>
	<key>GCM_SENDER_ID</key>
	<string>775763766826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.netplan.sitecat</string>
	<key>PROJECT_ID</key>
	<string>sitecat-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>sitecat-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775763766826:ios:86e69374c39fc61bb01d53</string>
</dict>
</plist>